{% extends "oingo/base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="row">
                <h3 class="text-left text-primary"><strong>Notes:</strong></h3>
            </div>
                    {% if notes %}

                    <form class="navbar-form navbar-left" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="text" name="keyword">
                            <button class="btn btn-default" type="submit" name="search">
                                search content
                            </button>
                        </div>
                    </form>

                        {% for note in notes %}
                        <!--<form role="form" method="method" action="{% url 'oingo:add_comment' note.id %}">-->
                            <!--{% csrf_token %}-->
                            <row class="rows">     
                                <table class="table table-bordered">
                                    <tr>
                                        <td><strong>author:</strong></td>
                                        <td>{{ note.author.username }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>location:</strong></td>
                                        <td>{{ note.location.lname }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>time:</strong></td>
                                        <td>{{ note.publish_time }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>content:</strong></td>
                                        <td>{{ note.note_content }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>tags:</strong></td>
                                        <td>
                                            {% for tag in note.tags.all %}
                                                {{ tag.tname }}; 
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                        <a href="{% url 'oingo:add_comment' note.id%}">
                                        <button class="btn btn-default btn-block" type="button">
                                            deatils & comments
                                        </button>
                                        </a>
                                            
                                        </td>
                                    </tr>
                                </table>
                            </row>

                        <!--</form>-->
                        {% endfor %}
                    {% else %}
                        <div class="row">
                        <table class="table table-bordered">
                            <tr><td>No notes yet</td></tr>
                        </table>
                        </div>
                    {% endif %}
            <!-- </div> -->
        </div>
    </div>
{% endblock %}